<h1>Liste des films !</h1>

<p ng-show="displaySum">3 + 4 = {{ 3 + 4 }}</p>

<form>
  <label for="displaySumInput">Display</label>
  <input
    ng-click="displaySum = !displaySum"
    id="displaySumInput"
    type="checkbox"/>
</form>

<p>displaySum : {{displaySum}}</p>

<!-- limit input -->
<input type="number" ng-model="limit" placeholder="Limite"/>

<!-- query input -->
<input type="text" ng-model="searchText" placeholder="Rechercher"/>

<form ng-submit="addMovie()" name="addMovieForm">
  <label for="newMovieNameInput">Nouveau film</label>
  <input
    ng-required="true"
    ng-model="newMovie.name"
    type="text"
    ng-minlength="3"
    id="newMovieNameInput"/>

  <label for="newMovieDescriptionInput">Description</label>
  <input
    ng-model="newMovie.description"
    type="text"
    id="newMovieDescriptionInput"/>

  <input type="submit" value="Ajouter le film" ng-disabled="!addMovieForm.$valid"/>
</form>

<h2>Mon futur film est : {{newMovie}}</h2>

<ul>
  <li class="animate-repeat"
      ng-repeat="movie in movies | filter:searchText | orderBy | limitTo:limit track by $index">
    <a ng-href="/movies/{{movie.id}}">{{movie.name|camelize}}</a> : {{movie.description}}
  </li>
</ul>

<!-- A for Attribute : si juste modification du comportement-->
<!--<div demo-counter counter="3"></div>-->

<!-- E for Element : si on remplace l'élément-->
<demo-counter counter="3"></demo-counter>
<demo-counter counter="10"></demo-counter>
<demo-counter counter="12"></demo-counter>

<!-- C for Class -->
<!--<div counter="3" class="demo-counter"></div>-->
